body {
  margin: 0;
  padding: 0;
  font-family: "Tahoma", sans-serif;
  background: #f2f2f2;
}

.header {
  background: #0057b8;
  color: #fff;
  padding: 15px;
  text-align: center;
}

.logo {
  width: 60px;
  display: block;
  margin: 0 auto 10px;
}

.categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 20px;
}

.box {
  background: #fff;
  padding: 25px;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #222;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.box:hover {
  background: #e9e9e9;
}

.footer {
  text-align: center;
  padding: 20px;
  background: #0057b8;
  color: white;
  margin-top: 20px;
}
.top-nav {
    background: #333;
    padding: 10px;
    text-align: center;
}
.top-nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}
.top-nav a:hover {
    color: #ffd700;
} 
