body {
    margin: 0;
    font-family: Arial;
    background: #f4f4f4;
    direction: rtl;
    text-align: center;
}

header {
    background: #0066ff;
    padding: 15px;
    color: white;
}

.logo {
    width: 80px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.hero {
    padding: 50px;
    background: #0099ff;
    color: white;
}

.about, .services, .contact {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

footer {
    background: #0066ff;
    color: white;
    padding: 10px;
}
