body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #f6f6f6;
    direction: rtl;
}

header {
    background: #181f3a;
    color: white;
    padding: 15px;
    text-align: center;
}

header select {
    padding: 6px;
    margin-top: 8px;
}

.hero {
    padding: 20px;
    background: #ffffff;
    text-align: center;
    box-shadow: 0px 2px 6px #ccc;
}

.sections {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.box {
    background: white;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0px 2px 5px #bbb;
    text-decoration: none;
    color: #181f3a;
    font-size: 18px;
}

footer {
    margin-top: 25px;
    padding: 10px;
    text-align: center;
    background: #181f3a;
    color: white;
}
