/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f2f2f2;
  color: #222;
  line-height: 1.6;
}

/* Header */
header {
  background: #0d6efd;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 22px;
  font-weight: bold;
}

nav a {
  color: white;
  margin-left: 18px;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover {
  text-decoration: underline;
}

/* Container */
.container {
  width: 90%;
  margin: auto;
  padding: 20px 0;
}

/* Cards (للإعلانات والأقسام) */
.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h3 {
  margin: 10px 0;
}

.card p {
  font-size: 15px;
  color: #555;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 10px 15px;
  background: #0d6efd;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.2s;
}

.btn:hover {
  background: #0b5dd8;
}

/* Language Button */
.lang-btn {
  padding: 6px 10px;
  background: white;
  color: #0d6efd;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: 14px;
}

.lang-btn:hover {
  background: #e5e5e5;
}

/* Footer */
footer {
  background: #222;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}

/* Profile Page */
.profile-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  margin: auto;
}

.profile-box h2 {
  margin-bottom: 10px;
}

/* Form */
form input, form textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

form button {
  padding: 12px;
  border: none;
  background: #0d6efd;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

form button:hover {
  background: #0a52c3;
}

/* Single Ad Page */
.single-ad img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}

.single-ad .details {
  background: white;
  padding: 20px;
  border-radius: 12px;
}

.single-ad .details h2 {
  margin-bottom: 10px;
}

.single-ad .details .price {
  color: green;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.single-ad .contact-btn {
  padding: 14px 20px;
  background: green;
  color: white;
  border-radius: 8px;
  display: block;
  width: 100%;
  text-align: center;
}

.single-ad .contact-btn:hover {
  background: #036503;
    }
