body {
    margin: 0;
    font-family: "Tahoma", sans-serif;
    background: #f2f2f2;
}

header {
    background: #0077ff;
    padding: 25px;
    text-align: center;
    color: white;
}

main {
    padding: 20px;
}

section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

h1, h2 {
    margin-top: 0;
}

footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
    margin-top: 30px;
}
